[submodule "obs_components/pynag"]
	path = obs_components/pynag
	url = git@github.com:kaji-project/pynag.git
[submodule "obs_components/nagvis"]
	path = obs_components/nagvis
	url = git@github.com:kaji-project/nagvis.git
[submodule "obs_components/adagios"]
	path = obs_components/adagios
	url = git@github.com:kaji-project/adagios.git
[submodule "obs_components/shinken"]
	path = obs_components/shinken
	url = git@github.com:kaji-project/shinken.git
[submodule "obs_components/pnp4nagios"]
	path = obs_components/pnp4nagios
	url = git@github.com:kaji-project/pnp4nagios.git
[submodule "obs_components/okconfig"]
	path = obs_components/okconfig
	url = git@github.com:kaji-project/okconfig.git
[submodule "obs_components/kaji"]
	path = obs_components/kaji
	url = git@github.com:kaji-project/kaji.git
[submodule "obs_components/graphite-web"]
	path = obs_components/graphite-web
	url = git@github.com:kaji-project/graphite-web.git
[submodule "obs_components/shinken-module-livestatus"]
	path = obs_components/shinken-module-livestatus
	url = git@github.com:kaji-project/shinken-module-livestatus.git
[submodule "obs_components/shinken-module-pickle-retention-file-generic"]
	path = obs_components/shinken-module-pickle-retention-file-generic
	url = git@github.com:kaji-project/shinken-module-pickle-retention-file-generic.git
[submodule "obs_components/shinken-module-graphite"]
	path = obs_components/shinken-module-graphite
	url = git@github.com:kaji-project/shinken-module-graphite.git
[submodule "obs_components/shinken-module-simple-log"]
	path = obs_components/shinken-module-simple-log
	url = git@github.com:kaji-project/shinken-module-simple-log.git
